<!-- topbar with  user menu -->
<div
  class="bg-cyan-700 p-4 flex justify-between items-center rounded-md shadow-lg"
>
  <h1 class="text-3xl text-white">{{ _('Welcome') }}</h1>

  <!-- LANGUAGE DROP DOWN -->
  <div class="flex items-center gap-4">
    <div class="relative inline-block text-left">
      <button
        id="dropdownButton"
        onclick="toggleDropdown('dropdownMenu')"
        class="inline-flex justify-center items-center px-4 py-2 bg-white text-gray-800 rounded-lg shadow-sm cursor-pointer hover:bg-gray-100 focus:outline-none"
      >
        <i class="fa-solid fa-globe mr-2"></i>
        <span class="hidden md:flex">{{ _('Language') }}</span>
      </button>

      <div
        id="dropdownMenu"
        class="hidden absolute right-0 mt-2 w-40 bg-white rounded-md shadow-lg z-10"
      >
        <a
          href="#"
          onclick="changeLanguage('en')"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
        >
          English
        </a>
        <a
          href="#"
          onclick="changeLanguage('pl')"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
        >
          Polski
        </a>
      </div>
    </div>

    <!-- User Menu -->
    <div class="relative inline-block text-left">
      <button
        id="userDropdownButton"
        onclick="toggleDropdown('userDropdownMenu')"
        class="inline-flex justify-center items-center px-4 py-2 bg-white text-gray-800 rounded-lg shadow-sm cursor-pointer hover:bg-gray-100 focus:outline-none"
      >
        <i class="fa-solid fa-user-circle mr-2"></i>
        <span class="hidden md:flex"
          >{{ session.get('user_role', 'guest') }}</span
        >
        <i class="fa-solid fa-chevron-down ml-2"></i>
      </button>

      <div
        id="userDropdownMenu"
        class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10"
      >
        <div class="px-4 py-3 border-b border-gray-200">
          <p class="text-sm text-gray-500">{{ _('Signed in as') }}</p>
          <p class="text-sm font-medium text-gray-900">
            {{ session.get('user_role', 'guest') }}
          </p>
        </div>
        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
          <i class="fa-solid fa-user mr-2"></i> {{ _('Your Profile') }}
        </a>
        {% if session.get('user_role') == 'Superadmin' %}
        <a
          href="{{ url_for('settings') }}"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
        >
          <i class="fa-solid fa-cog mr-2"></i> {{ _('Settings') }}
        </a>
        {% endif %}
        <div class="border-t border-gray-200"></div>
        <a href="#" class="block px-4 py-2 text-red-600 hover:bg-gray-100">
          <i class="fa-solid fa-sign-out-alt mr-2"></i> {{ _('Sign out') }}
        </a>

        <div class="border-t border-gray-200">
          <a
            href="{{ url_for('set_role', role='Admin') }}"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
          >
            <i class="fa-solid fa-user-shield mr-2"></i> {{ _('Set Admin') }}
          </a>
          <a
            href="{{ url_for('set_role', role='Hr') }}"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
          >
            <i class="fa-solid fa-user-tie mr-2"></i> {{ _('Set HR') }}
          </a>
          <a
            href="{{ url_for('set_role', role='Finance') }}"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
          >
            <i class="fa-solid fa-user-ninja mr-2"></i> {{ _('Set Finance') }}
          </a>
          <a
            href="{{ url_for('set_role', role='Superadmin') }}"
            class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
          >
            <i class="fa-solid fa-user-gear mr-2"></i> {{ _('Set Superadmin') }}
          </a>
        </div>
      </div>
    </div>

    <div class="xl:hidden cursor-pointer" onclick="toggleMobileMenu()">
      <i class="fa-solid fa-bars text-white text-xl"></i>
    </div>
  </div>
</div>

<script src="../static/js/topbar.js"></script>
